/* 
   The below CSS file was built using samples + techniques described by Rachel Andrew in her book:
   The CSS Anthology: 101 Essential Tips, Tricks & Hacks
*/

/* Overall Page */



.Image-Footer
{
	background-color: #1E82CC;
	width: 737px;
	height: 100px;
	margin-top: -20px;
}
	.Image-Footer p
	{
		color:#FFFFFF;
		text-align:center;
	}



footer {
position: relative;
z-index: 1;
height: 30px;
clear: left;
border-top: 3px solid #1E82CC;
text-align: center;
background-color:#1E82CC;
        }
	footer p
	{
		color: #FFFFFF;
		margin-top:5px;
	}

.Important 
{ 
     font-size: large; 
     color: Red; 
}

/* Header Section */

#header {
	border-top: 3px solid #1E82CC;
	border-bottom: 1px dotted #1E82CC;
	height: 3em;
}
#header .title {
	font: 190% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: black;
	background-color: transparent;
	float: left;
	margin-right: 2em;
	margin-top: 0.3em;
	margin-left: .8em;
}

#header a:link, a:visited  {
	color: #08c;
}


#header .breadcrumb {
	font: 90% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: black;
	background-color: transparent;
	float: right;
	margin-right: 2em;
	margin-top: 0.8em;
	font-weight:bold;
}


/* Main Content */

#content 
{
	margin-top:1em;
	margin-left: 16em;
	margin-right: 2em;
	min-height: 490px;
}
h1 {
	font: 150% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
}
#content p {
	font-size: 100%;
	line-height: 1.6em; 
}
.btn-fix
{
	margin-top: -10px;
}
#content ul {
	font-size: 80%;
	line-height: 1.6em; 
}



/* Home Page CSS */
.Home-Image
{
	float: left;
}

.Home-Login2 table
{
	margin-top: 100px;
	margin-left: 0px;
}


	.User-Login-Info
		{
			float:right;
		}
	.User-Login-Info p
		{
			color: #999;
			margin-top:16px;
		}
	.User-Login-Info p a
		{
			color: #999;
		}



/* CRUD CSS */
.GridView
{
    width: 800px;
}

.Header-Class
{
    background: #045fa0;
    color: #FFF;
    border: 1px solid #045fa0;
}

    .Header-Class th
    {
        padding: 10px;
        text-align: center;
    }

.Row-Class
{
    background: #FFFFFF;
    color: #54005e;
}

    .Row-Class td
    {
        text-align: center;
        border: 1px solid #EEE;
    }

.Alternet-Row-Class
{
    background: #F6F6F6;
    color: #000;
}

    .Alternet-Row-Class TD
    {
        text-align: center;
        border: 1px solid #EEE;
    }

.Footer-Class
{
    background: #CCC;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

    .Footer-Class TD
    {
        padding: 5px;
        text-align: center;
        border: 1PX solid #CCC;
    }


select
{
    padding: 5px;
    border: 1px solid #54005e;
    width: 40px;
}
    input[type='submit']:hover, input[type='button']:hover
    {
        background: #0074c7;
        color: #FFF;
    }

/* END OF CRUD CSS*/


/* Display pic*/
.Display-pic
{
	margin-top: -20px !important;
	max-width: 80px;
	max-height: 46px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin-bottom: -16px !important;
	border-radius: 4px 4px 4px 4px !important;
}

.Display-pic-medium
{
	max-height: 300px;
	max-width: 300px;
	border-radius: 10px 10px 10px 10px;
}
.left-border
{
	border-left: 30px;
	border-left-color: #1E82CC;
	border-left-style: solid;
	min-height: 400px;
}