<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="EIMSConnectionString" connectionString="Data Source=SARMAD-Hp;Initial Catalog=EIMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
   <system.net>
    <mailSettings>
      <smtp from="no_reply@test.com" deliveryMethod="Network" deliveryFormat="SevenBit">
        <specifiedPickupDirectory pickupDirectoryLocation="G:\RoR Projects\Emails"/>
        <network host="localhost" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
   
    <authentication mode="Forms"/>
    <membership defaultProvider="EIMSSqlMembershipProvider">
      <providers>
        <!--Add a customized SqlMembershipProvider -->
        <add name="EIMSSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="EIMSConnectionString"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="SecurityTutorials"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="3"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <roleManager enabled="true" defaultProvider="EIMSSqlRoleProvider" cacheRolesInCookie="true"    
          createPersistentCookie="false"    
          cookieProtection="All" >
      <providers>
        <add name="EIMSSqlRoleProvider"
        type="System.Web.Security.SqlRoleProvider"
        applicationName="SecurityTutorials"
        connectionStringName="EIMSConnectionString" />
      </providers>
    </roleManager>
  </system.web>
</configuration>